fastapi~=0.115.14
motor~=3.7.1
pydantic~=2.11.7
python-dotenv~=1.1.1
pydantic_settings
dotenv~=0.9.9
pymongo~=4.13.2
whisper~=1.1.10
chromadb~=1.0.15
openai~=1.93.0
langchain~=0.3.26
certifi~=2025.6.15
passlib[bcrypt]~=1.7.4
python-jose[cryptography]~=3.3.0
python-multipart~=0.0.6
email-validator~=2.1.0

PyJWT~=2.8.0